@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

*{
    font-family: "Quicksand";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: o auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 button.btn-go{
    transform: translate(1150%);
    position: absolute;
   top: 35px;
   left: -480px;
     background-color: #FEF056;
     padding: 16px 40px;
     border: none;
     border-radius: 300px;
     color:black;
     font-size: 20px;
     font-weight: 900;
 }

 button.neon-button{
    transform: translate(0%);
    position: absolute;
    top: 500px;
    left: 170px;
    border: 3px solid #ffa9b7;
    background: #010101;
    padding: 20px 40px;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #ffa9b7;
    letter-spacing: 8px;
    font-weight: bold;
   
    
 }
 
 
 button.btn-resume{
    transform: translate(0%);
    position: absolute;
    top: 900px;
    left: 910px;
 }
 .nav-HOME{
    position: absolute;
    left:  800px;
    top: 1.3cm;
 }
 .nav-GAMES{
    position: absolute;
    left:  1000px;
    top: 1.3cm;
 }
 .nav-ABOUT{
    position: absolute;
    left:  1200px;
    top: 1.3cm;
 }
 .nav-rubik{
     transform: translate(10%);    
 }
 .videoo{
    position: absolute;
    left:20cm;
    top: 4cm;
    
 }
 .NKL{
    position: absolute; 
    width: 30px;
    height: auto;
    margin-bottom: 60cm;
     left: 4.5cm;
     top: 5cm;
 }

 .heading {
     bottom: 20cm;
     right: 25gitcm;
    transform: translate(150%);
    position: absolute;
    color: white;
    flex-direction: column;
 }
 .heading h1 {
   top: 5cm;
   right: -8cm;
    font-size:60px ;
    position: absolute;
    color: #FEF056;
 }
 .heading p{
     top: 10cm;
     right: 3cm;
    font-size:50px ;
    position: absolute;
    color: #ECB88C;
    height: 22vh;
 }
 .nav-me{
    position: absolute;
    left: 5cm;
    top: 4cm;
 }
.nav-distro{
    position: absolute;
    left: 30cm;
    top: 14cm;
}
.nav-info{
    position: absolute;
    top: 34cm;
    left: 14.5cm;
}
 .nav-skill{
    position: absolute;
    top: 23cm;
  }
   .nav-pendidikan{
    position: absolute;
    left: 13cm;
    top: 25cm;
   }
   .nav-ektrak{
    position: absolute;
    left: 25cm;
    top: 32cm;
   }
   .nav-populer{
    position: absolute;
    right: 25cm;
    top: 15cm;
   }
   .nav-dota{
     position: absolute;
    left: 14cm;
    top: 35cm;}
   .nav-idv{
    position: absolute;
    left: 7cm;
    top: 26.5cm;
   }
   .nav-pubg{
    position: absolute;
    left: -1cm;
    top: 34cm;
   }
   .nav-genshin{
    position: absolute;
    left: 23cm;
    top: 25cm;
   }
   .nav-mutiara{
      position: absolute;
      left: 12.5cm;
      top: 58cm;
     }
   




